{% extends "base2.html" %}
{% block content %}
<div class="jumbotron">
<p> Welcome to our company page</p>
<p> Do you want to be a member?</p>
<a href="{{url_for('signup_form')}}">Sign Up Here</a>
</div>
{% endblock %}