{% extends "base2.html"%}
{% block content %}
<div class="jumbotron">
<p> Welcome to sign up page</p>
<p> Fill out the form and submit</p>
<form action="{{url_for('thank_you')}}">
<label for="first"> First Name:</label>
<input type="text" name="first">
<label for="last">Last Name:</label>
<input type="text" name="last">
<input type="submit" value="Submit Form">
</form>
</div>
{% endblock %}